.background-navbar{
    background-image: url('../../img/GreenSchoolsGeneralImage/grass.png') !important;
}

.game-background{
    background-image: url('../../img/GreenSchoolsGeneralImage/Untitled-1.png') !important;
}

.loaderGame{
    top: 0;
    left: 0; 
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494649;
}

.loaderGame.hidden > img{
    width: 520px;
}
  
.loaderGame.hidden{
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

.game-title{
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
    font-family: Raleway-Bold;
    font-size: 100px;
    margin: 10px;
}

.game-text h1, .download-section h1, .installation-tutorial h1{
    text-align: center;
    color: white;
    font-family: Raleway-Bold;
    font-size: 90px;
    padding-top: 1%;
}

.installation-tutorial h1{
    padding-top: 10% !important;
    font-size: 50px;
}

.game-text p{
    padding-bottom: 3%;
    text-align: center;
    color: white;
    font-family: Raleway-Light;
    font-size: 25px;
    line-height: 150%;
}

.future-download h3{
    padding-top: 20% 0%;
    font-size: 38px;
    color: white;
    text-align: center;
    font-family: Raleway-Bold;

    text-transform: uppercase;
}

.goodPract-text p, .concrete-acions p{
    padding-bottom: 3%;
    text-align: center;
    color: white;
    font-family: Raleway-Light;
    font-size: 25px;
    line-height: 150%;
}

.goodPractPresentation{
    width: 40%;
}

.game-svg{
    padding-top: 10%;
}

.download-section{
    padding-top: 5%;
    padding-bottom: 5%;
}

.download-button{
    padding-top: 4%;
    border-radius: 100px;
    transition: ease-in-out 0.4s;
    overflow: hidden;
    border: none;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    outline: none;
    font-family: Raleway-Light;
    font-size: 27px;
    padding: 20px;
    /*box-shadow: 0px 7px rgb(112, 112, 112);*/
  }
  
  .download-button > a{
    margin: 0px;
    text-decoration: none;
    color: #494649;
  }
  
  .download-button{
    
    background-color: #ffffff;
    
  }

  .download-button:hover{
    transform: scale(1.1) !important;
  }