body{
  background-color: rgb(245, 245, 245);
  margin: 0px;
  transition: ease-in-out 1s background-color;

}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: Raleway-Regular;
  src: url(../../font/Raleway/Raleway-Regular.ttf);
}

@font-face {
font-family: Raleway-Bold;
src: url(../../font/Raleway/Raleway-Bold.ttf);
}

@font-face {
font-family: Raleway-SemiBold;
src: url(../../font/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Raleway-Light;
  src: url(../../font/Raleway/Raleway-Light.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../../font/Raleway/Raleway-Medium.ttf);
}

/*
.hover-underline-animation {
  position: relative;
  color: rgb(49, 49, 49);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 25%;
  background-color: rgb(49, 49, 49);
  transition: transform 0.25s ease-out;
  margin-bottom: 25%;
}

.hover-underline-animation:hover {
  color: #3676CB;
}

*/

.slider-info{
  text-align: center;
  /*font-family: Raleway-Regular;*/
  font-family: Raleway-SemiBold;
  font-size: 25px;
  margin-top: 70px;
  
}

.slider-info-project{
  text-align: center;
  font-family: Raleway-SemiBold;
  font-size: 25px;
  margin-top: 70px;
  color: #3676CB;
}

.arrow-svg-project{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.go-top-image{
  left: 90%;
  top: 80%;
  margin-right: 2%;
  position: fixed;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  display: none;
  animation: 1s ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;

}

.go-top-image img{
  transition: 0.2s ease-in-out;
  width: 50%;
}

.go-top-image img:hover{
  transform: scale(1.1);
}

.go-top-image img:active{
  transform: scale(1.0);
}

.go-top-image img::after{
  display: none;
}

.separate-line{
  /*color: rgb(245, 245, 245);
  margin: 0;
  border: 0.1;
  height: 1px;*/
  display: inline-block;
  height: 1px;
  width: 550px;
  background-color: rgb(245, 245, 245);
  position: relative;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 2%;
  margin-bottom: 2%;
}

@viewport{
  zoom: 1.0;
  width: extended-to-zoom;
}

@-ms-viewport{
  width: extended-to-zoom;
  zoom: 1.0;
}

/*
.study-svg{
  transition: ease-in-out 0.2s;
}

.study-svg:hover{
  transform: scale(1.1);
  background-image: url(../../img/GreenSchoolsGeneralcon/study-blue-hover.svg);
}*/

.study-svg, .proj-svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.study-svg{
  padding-top: 9%;
}

.toCenter{
  margin-left: auto;
  margin-right: auto;
}
/*
* {box-sizing:border-box}

/*DA SISTEMARE SLIDESHOW
.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.6s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images 
 
.slide:first-child {
  background-image: url('../../img/GreenSchoolsGeneralImage/goodpractice-slideshow/1stslide.png') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('../../img/GreenSchoolsGeneralImage/goodpractice-slideshow/1stslide.png') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('../../img/GreenSchoolsGeneralImage/goodpractice-slideshow/1stslide.png') no-repeat
    center top/cover;
} */

/*LOADING ANIMATION*/
.loader{
  top: 0;
  left: 0; 
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  max-width: 100vw !important;

}

.loader> img{
  width: 520px;
}

.loader.hidden{
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{

  100%{
    opacity: 0;
    visibility: hidden;
  }

  99%{
    opacity: 0.1;
  }

  98%{
    opacity: 0.2;
  }

  97%{
    opacity: 0.3;
  }

  96%{
    opacity: 0.4;
  }

  95%{
    opacity: 0.5;
  }

  94%{
    opacity: 0.6;
  }

  93%{
    opacity: 0.7;
  }

  92%{
    opacity: 0.8;
  }

  91%{
    opacity: 0.9;
  }

  90%{
    opacity: 1;
  }
  
}

.prj-text, .study-text, .goodPract-text, .game-text, .home-text{
  padding-top: 3%;
}

.prj-text-white{
  font-family: Raleway-Bold;
  font-size: 35px;
  text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container, .slideshow-container-chisiamo {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides, .mySlides-chisiamo {
  display: none;
}

/* Next & previous buttons */
.prev, .next, .prev-chisiamo, .next-chisiamo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 50px 50px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next, .next-chisiamo {
  right: 0;
  border-radius: 50px 0 0 50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .prev-chisiamo:hover, .next-chisiamo:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot, .dot-chisiamo {
  cursor: default;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  margin-bottom: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active{
  background-color: #3a3a3a;
  cursor: default;
}

/* Fading animation */
.fade, .fade-chisiamo {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

iframe{
  max-width: 1000px;
  position: relative;
  margin: auto;
  align-items: center;
  margin-bottom: 2%;
}

iframe.center, button.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
.button-link .center{
  display: block;

}

.download-link >a{
  margin: 0px;
  padding: 0px;
}

.download-button {
  width: 12%;
  transition: ease-in-out 0.3s;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
.download-button:hover {
  width: 12%;
  transform: scale(1.05);
  background-image: url('../../img/GreenSchoolsButton/Hover.svg') repeat;
}*/

.minecraft-trailer{
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.button-link-other-resources{
  border-radius: 100px;
  transition: ease-in-out 0.4s;
  overflow: hidden;
  border: none;
  background-color: #00BF59;
  display: inline-block;
  text-align: center;
  outline: none;
  font-family: Raleway-Light;
  font-size: 30px;
  padding: 20px;
  /*box-shadow: 0px 7px rgb(112, 112, 112);*/
}

.button-link-other-resources > a{
  margin: 0px;
  text-decoration: none;
  color: white;
}

.other-resources{
 padding-bottom: 10%;
}

.resources-container{
  display: flex;
  margin-left: 18%;
  margin-right: 18%;
}

.button-link-other-resources:hover{
  
  background-color: #008e42;
  
}

/* FINISH LIMIT CSS */

